# Python virtual environment
.venv/

# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Distribution / packaging
.eggs/
*.egg-info/
dist/
build/
wheels/

# Rust build artifacts
/target/
Cargo.lock

# IDE / OS specific files
.vscode/
.idea/
.DS_Store